*{
    box-sizing: border-box;
}

body{
    background-color: rgb(245, 227, 214);
}

.nav_links a{
    text-decoration: none;
    color: black;
    font-size: medium;
    padding: 10px;
    font-weight: 600;
}

.nav_links a:hover , .active{
    background-color: rgb(10, 10, 10);
    color: rgb(255, 255, 255) !important;
    border-radius: 10px !important;
    
}


.carousel-item img{
    width: 100%;
    height: 618px;
}

.container{
    margin:0;
    max-width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.container a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.container a:hover{
    background-color: rgb(10, 10, 10);
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
}

.form-section{
    background-color: #5F9EA0;
    max-width: 80%;
    margin: 3% 10%;
    padding: 25px;
    font-weight: 600;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 10px;
}

.form-section h2{
    text-align: center;
}