*{
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body{
    background: url(imgs/backgroundimg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
}
a
.nav_links a{
    text-decoration: none;
    color: black;
    border: 1px solid transparent;
    padding: 5px 20px;
    font-variant: small-caps;
    font-size: medium;
    transition: 0.7s ease;
}

.nav_links a:hover , .active{
    background-color: rgb(10, 10, 10);
    color: rgb(255, 255, 255) !important;
    border-radius: 5px !important;
}


.carousel-item{
    /* display: grid; */
    height: 100%;
}
.banner{
    max-width: 100%;
    max-height: 95vh;
    margin: auto;
}

.container{
    margin:0;
    max-width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.container a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.container a:hover{
    background-color: rgb(10, 10, 10);
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
}

.form-section{
    background-color: #5F9EA0;
    max-width: 80%;
    margin: 3% 10%;
    padding: 25px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 10px;
}


.form-section h2{
    text-align: center;
    font-variant: small-caps;
    font-size: 2.5rem;
}


input[type=number] {
    -moz-appearance: textfield;
} 